openapi: 3.0.3
info:
  title: Brale Issuance and Orchestration API
  version: 2.3.1
  description: |
    Brale supports stablecoin issuance and orchestration, enabling businesses and
    ecosystems to create their own stablecoins and convert between fiat and stablecoins
    seamlessly. From stablecoin onramps, offramps, and swaps to custody and payouts, the
    Brale API makes it easy to build stablecoin-enabled products.

    NOTE: All resource IDs (including account_id, address_id, financial_institution_id,
    and automation_id) are KSUIDs—26-character alphanumeric strings that are sortable
    by time. Examples showing UUIDs are incorrect.


    **What's new in 2.3.1**
    - Unified **Addresses** model for on-chain and off-chain endpoints
      - `Transfers` now accepts **address_id only** (no financial_institution_id)
      - Optional `brand` object to control bank statement presentation (`branding` still accepted as legacy alias)
    - Added off-chain rails: `ach_credit`, `same_day_ach_credit`, `ach_debit`, `same_day_ach_debit`, `rtp-credit`
    - Plaid endpoints moved to `/accounts/{account_id}/plaid/*`
    - `Financial Institutions` marked **deprecated** (migration path to **Addresses**)
    - Create Account now uses `CreateManagedAccountRequest` with `beneficial_owners`, `business_controller`, and `EndUserTosAttestation`.
    - Transfers now accept `brand` (replaces `branding`, still aliased in docs).
    - Plaid endpoints updated to return `address_id` and accept `transfer_types`.
    - Off-chain Address creation uses `CreateExternalAddressRequest` oneOf with bank + blockchain variants.
    - FI endpoints kept but marked deprecated; use Addresses instead.
    - `rtp_credit` is the canonical RTP rail name.
tags:
  - name: Accounts
    description: Endpoints related to managing customer accounts (KYB, details, etc.)
  - name: Transfers
    description: Endpoints for creating and retrieving transfers (fiat to stablecoins, etc.)
  - name: Addresses
    description: On-chain and off-chain endpoints (custodial or external) represented by a single Addresses resource
  - name: Financial Institutions
    description: Legacy (deprecated) bank endpoints. Use Addresses instead.
  - name: Automations
    description: Automated deposit addresses or onramps
  - name: Plaid
    description: Bank linking and ACH debit via Plaid.
  - name: Orders
    description: Legacy tag used for transfers in older specs.

servers:
  - url: https://api.brale.xyz
    description: Production server

# ==================== Security (Global) ====================
# This ensures every endpoint requires a Bearer token.
security:
  - BearerAuth: []

components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      description: >
        Use the Bearer token returned from the Auth endpoint via OAuth2 client_credentials
        flow. Include the token in the "Authorization: Bearer <token>" header.
    oauth:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://auth.brale.xyz/oauth2/token
          scopes:
            accounts:read: Read account details
            accounts:write: Create or update accounts
            addresses:read: Read address details
            addresses:write: Create addresses
            automations:read: Read automations
            automations:write: Create automations
            financial-institutions:read: Read FI details (legacy)
            financial-institutions:write: Create FI (legacy)
            transfers:read: Read transfers
            transfers:write: Create transfers

  schemas:
    ## --------------------- KSUID SCHEMA --------------------- ##
    Ksuid:
      title: Kusid
      type: string
      format: ksuid
      pattern: ^[a-zA-Z0-9]{26}$
      example: 2VcUIIsgARwVbEGlIYbhg6fGG57
    ExternalAddressResponseStreetAddress:
      title: ExternalAddressResponseStreetAddress
      type: object
      description: US street address as returned in external address responses.
        Includes `country`, unlike the request `USStreetAddress` schema.
      properties:
        street_line_1:
          type: string
          example: 100 Example St
        street_line_2:
          type: string
          nullable: true
          example: Suite 500
        city:
          type: string
          example: Springfield
        state:
          type: string
          example: CA
        zip:
          type: string
          example: '90001'
        country:
          type: string
          example: US
    ExternalAddressResponse:
      title: ExternalAddressResponse
      type: object
      description: The full external address object returned by
        `POST /accounts/{account_id}/addresses/external`.
      properties:
        id:
          $ref: '#/components/schemas/Ksuid'
        name:
          type: string
          nullable: true
          example: checking 7890
        owner:
          type: string
          example: Jane Doe
        status:
          type: string
          example: active
        ownership:
          type: string
          example: customer-owned
        bank_address:
          allOf:
            - $ref: '#/components/schemas/ExternalAddressResponseStreetAddress'
          nullable: true
        beneficiary_address:
          allOf:
            - $ref: '#/components/schemas/ExternalAddressResponseStreetAddress'
          nullable: true
        created:
          type: string
          format: date-time
          example: '2026-06-02T20:01:02.226850Z'
        transfer_types:
          type: array
          items:
            type: string
          example:
            - ach_credit
        account_number:
          type: string
          description: Returned masked (e.g. `****7890`).
          example: '****7890'
        account_type:
          type: string
          enum:
            - checking
            - savings
          example: checking
        needs_update:
          type: boolean
          example: false
        last_updated:
          type: string
          format: date-time
          example: '2026-06-02T20:01:03.321461Z'
        routingNumber:
          type: string
          description: 'Note: this single field is currently returned in camelCase
            (`routingNumber`) while all other fields use snake_case.'
          example: '063108680'
    Pagination:
      title: Pagination
      description: Cursor-based pagination metadata
      type: object
      additionalProperties: false
      properties:
        page_size:
          type: integer
          example: 25
        next:
          type: string
          nullable: true
          example: g3QAAAABdw...
        prev:
          type: string
          nullable: true
          example: g3QAAAABdw...
      required:
        - page_size

    ## --------------------- ACCOUNTS --------------------- ##
    AccountCreateRequest:
      type: object
      properties:
        business_name:
          type: string
          example: ABC Company Inc
        ein:
          type: string
          example: 111-11-1111
        address:
          $ref: '#/components/schemas/AccountAddress'
        phone_number:
          type: string
          example: '2134678902'
        email:
          type: string
          format: email
          example: mark@example.com
        website:
          type: string
          example: abccompany.com
        ultimate_beneficial_owners:
          type: array
          items:
            $ref: '#/components/schemas/UltimateBeneficialOwner'
      required:
        - business_name
        - ein
        - address
        - phone_number
        - email
        - ultimate_beneficial_owners
    Account:
      title: Account
      type: object
      description: >-
        Summary representation of a customer account returned by GET /accounts and
        GET /accounts/{account_id}. Account creation requires KYB / business details
        (see `AccountCreateRequest` / `CreateManagedAccountRequest`), but account
        read and list responses return only this account summary and do not return
        sensitive KYB details.
      properties:
        id:
          $ref: '#/components/schemas/Ksuid'
        name:
          type: string
          description: Account / business display name returned by the API.
          example: ABC Company
        status:
          type: string
          description: KYB / onboarding status of the account.
          enum:
            - complete
            - pending
            - rejected
          example: complete
        created:
          type: string
          format: date-time
          description: When the account was created.
          example: '2026-01-01T00:00:00Z'
        updated:
          type: string
          format: date-time
          description: When the account was last updated.
          example: '2026-01-01T00:00:00Z'
      required:
        - id
        - name
        - status
      example:
        id: 2VcUIIsgARwVbEGlIYbhg6fGG57
        name: ABC Company
        status: complete
        created: '2026-01-01T00:00:00Z'
        updated: '2026-01-01T00:00:00Z'
    AccountAddress:
      title: AccountAddress
      type: object
      properties:
        street_line_1:
          type: string
          example: 123 Main St
        street_line_2:
          type: string
          example: Apt C
        city:
          type: string
          example: Des Moines
        state:
          type: string
          example: Iowa
        zip:
          type: string
          example: '12345'
      required:
        - street_line_1
        - city
        - state
        - zip
    UltimateBeneficialOwner:
      title: UltimateBeneficialOwner
      type: object
      properties:
        name:
          type: string
          example: John Doe
        ssn:
          type: string
          example: 222-22-2222
        address:
          $ref: '#/components/schemas/AccountAddress'
      required:
        - name
        - ssn
        - address

    ## --------------------- TRANSFERS --------------------- ##
    Transfer:
      title: Transfer
      type: object
      description: >-
        A money movement between a source and a destination. Returned by the create,
        get, and list transfer endpoints. The same shape is used everywhere a
        Transfer is exposed to API consumers.
      properties:
        id:
          $ref: '#/components/schemas/Ksuid'
        status:
          type: string
          description: Lifecycle stage of the transfer
          enum:
            - pending
            - processing
            - complete
            - canceled
            - failed
          example: pending
        failure:
          allOf:
            - $ref: '#/components/schemas/TransferFailure'
          nullable: true
          description: >-
            Structured failure details for a failed transfer. Usually `null`. Populated
            when `status` is `failed` and Brale has structured failure details for the
            transfer — most commonly for ACH returns and other rail/provider failures.
            Clients should not assume `failure` is always present for every failed
            transfer; check for `null` before reading nested fields.
          example: null
        source:
          $ref: '#/components/schemas/TransferEndpoint'
        destination:
          $ref: '#/components/schemas/TransferEndpoint'
        amount:
          $ref: '#/components/schemas/Amount'
        note:
          type: string
          nullable: true
          description: Optional free-form note attached to the transfer.
          example: null
        automation_id:
          allOf:
            - $ref: '#/components/schemas/Ksuid'
          description: >-
            ID of the Automation that created this transfer, when applicable. Omitted
            for transfers created directly via the API.
          nullable: true
        funding_simulated:
          type: boolean
          description: >-
            Set to `true` when the source funding for this transfer was simulated in a
            test environment rather than coming from a real payment. Not present for
            production transfers.
        created_at:
          type: string
          format: date-time
          example: '2026-01-01T00:00:00Z'
        updated_at:
          type: string
          format: date-time
          example: '2026-01-01T00:00:00Z'
    TransferEndpoint:
      title: TransferEndpoint
      description: >-
        One side (source or destination) of a Transfer. The same shape is used in
        create requests and in responses. Response-only fields like `transaction_id`
        and `payment_details` are populated by Brale as the underlying leg settles.
      type: object
      properties:
        value_type:
          type: string
          example: USD
        transfer_type:
          type: string
          example: wire
        address_id:
          $ref: '#/components/schemas/Ksuid'
        financial_institution_id:
          type: string
          deprecated: true
          description: Legacy — use `address_id`.
        wire_memo:
          type: string
          description: >-
            Optional memo or payment reference text sent with outbound wire transfers.
            Only applies when `transfer_type` is `wire` on the destination leg.
        transaction_id:
          type: string
          description: >-
            On-chain transaction hash or off-chain payment reference. Present in
            responses once the leg has been submitted to the network. Not included
            in create requests.
          example: '0xdd5646ea…'
        payment_details:
          $ref: '#/components/schemas/PaymentDetails'
      required:
        - value_type
        - transfer_type
    PaymentDetails:
      title: PaymentDetails
      type: object
      description: >-
        Underlying payment metadata for a transfer leg. Response-only. Appears on
        `source.payment_details` for inbound fiat-funded transfers (wire, ACH) and on
        `destination.payment_details` for outbound wire transfers. Optional and may
        be absent depending on the rail and on whether the underlying bank metadata
        is available yet.
      properties:
        received_at:
          type: string
          format: date-time
          nullable: true
          description: When the underlying payment was received or posted.
          example: '2026-04-07T00:01:24.514000Z'
        sender_name:
          type: string
          nullable: true
          description: Name of the originating sender, when available.
          example: Originator Name
        sender_bank_name:
          type: string
          nullable: true
          description: Originating bank name, when available.
          example: JPMorgan Chase Bank
        sender_bank_routing_number:
          type: string
          nullable: true
          description: Originating bank routing number, when available.
          example: '000000123'
        payment_reference:
          type: string
          nullable: true
          description: Sender-provided payment reference or memo, when available.
          example: Simulated Wire
        imad:
          type: string
          nullable: true
          description: Wire IMAD / tracking identifier, when available.
          example: 20260406XOIZJDPP953495
        trace_number:
          type: string
          nullable: true
          description: >-
            ACH trace identifier for the underlying payment, when available. Primarily
            relevant for inbound ACH-funded transfers.
          example: '021000029876543'
    TransferFailure:
      title: TransferFailure
      type: object
      description: >-
        Structured failure details for a failed transfer. Populated by Brale when
        `status` is `failed` and the underlying rail/provider has supplied structured
        failure details. Field availability varies by rail — for example,
        `ach_return` is only present for ACH transfers.
      properties:
        type:
          type: string
          description: Error classification for the failure.
          example: ach_return
        occurred_at:
          type: string
          format: date-time
          description: When the failure occurred.
          example: '2026-04-07T00:05:12.102000Z'
        retriable:
          type: boolean
          description: >-
            Whether the failure is considered retriable. When `true`, Brale may
            automatically retry the underlying operation; when `false`, the failure is
            permanent.
          example: false
        ach_return:
          type: object
          nullable: true
          description: >-
            ACH-only return details. Present for ACH return failures; not set for
            on-chain or other rail failures.
          properties:
            code:
              type: string
              description: ACH return code (e.g. `R01` — Insufficient Funds).
              example: R01
            reason:
              type: string
              description: Human-readable description of the ACH return reason.
              example: Insufficient Funds
            category:
              type: string
              description: >-
                Simplified taxonomy of the ACH return. `administrative` covers bank
                issues that may be retriable. `unauthorized` covers customer disputes.
                `general` covers everything else.
              enum:
                - administrative
                - unauthorized
                - general
              example: administrative
    TransfersList:
      title: TransfersList
      description: List of transfers plus pagination cursors
      type: object
      additionalProperties: false
      properties:
        pagination:
          $ref: '#/components/schemas/Pagination'
        transfers:
          type: array
          items:
            $ref: '#/components/schemas/Transfer'
      required:
        - pagination
        - transfers
      example:
        pagination:
          next: g3QAAAABdw...
          prev: null
          page_size: 25
        transfers:
          - id: 30NoY6R1Ns2tRBcx1Kb16SnuXOW
            status: complete
            failure: null
            source:
              transaction_id: "0xdd5646ea\u2026"
              address_id: "2MhCCIHu\u2026"
              value_type: USDC
              transfer_type: polygon
            destination:
              transaction_id: "0xdd5646ea\u2026"
              address_id: "2O6asmN\u2026"
              value_type: USDC
              transfer_type: polygon
            amount:
              value: '100.00'
              currency: USD
            note: null
            created_at: '2026-01-01T00:00:00Z'
            updated_at: '2026-01-01T00:00:00Z'
    TransferCreateRequest:
      title: TransferCreateRequest
      type: object
      properties:
        amount:
          type: object
          properties:
            value:
              type: string
              example: '100'
            currency:
              type: string
              example: USD
          required:
            - value
            - currency
        source:
          $ref: '#/components/schemas/TransferEndpoint'
        destination:
          $ref: '#/components/schemas/TransferEndpoint'
        brand:
          $ref: '#/components/schemas/BrandData'
          description: >-
            Controls which Account name appears on ACH bank statement line items.
            Legacy alias `branding` is still accepted but deprecated.
      required:
        - amount
        - source
        - destination
    GetAddressesResponse:
      type: object
      properties:
        addresses:
          type: array
          items:
            $ref: '#/components/schemas/Address'
    Address:
      title: Address
      type: object
      properties:
        id:
          $ref: '#/components/schemas/Ksuid'
        status:
          type: string
          enum:
            - pending
            - active
            - archived
          example: active
        name:
          type: string
          example: Solana Custodial Wallet
        address:
          type: string
          description: The on-chain wallet address
          example: 73uyt9HkEqx9bThYXWaUBP67sWsiJEsyJ5rSCieDx5me
        transfer_types:
          type: array
          items:
            type: string
          example:
            - solana
            - base
            - wire
    AddressReference:
      title: AddressReference
      type: object
      additionalProperties: false
      properties:
        id:
          $ref: '#/components/schemas/Ksuid'
        address:
          type: string
          example: '0xb518d4d6221d9a41d23d71cbce8e106e7aab8f9b'
      required:
        - id
        - address
    Amount:
      title: Amount
      type: object
      description: Monetary value with explicit currency
      additionalProperties: false
      properties:
        value:
          type: string
          example: '11234.88'
        currency:
          type: string
          example: USD
      required:
        - value
        - currency
    AddressBalanceResponse:
      title: AddressBalance
      type: object
      additionalProperties: false
      description: Balance of **one** token on **one** chain for a specific wallet
      properties:
        address:
          $ref: '#/components/schemas/AddressReference'
        balance:
          $ref: '#/components/schemas/Amount'
        transfer_type:
          type: string
          description: Blockchain where the balance lives
          enum:
            - solana
            - ethereum
            - polygon
            - base
            - arbitrum
            - canton
            - avalanche
            - base_sepolia
            - sepolia
            - solana_devnet
            - tempo_testnet
          example: solana
        value_type:
          type: string
          description: Token ticker
          example: SBC
      required:
        - address
        - balance
        - transfer_type
        - value_type
      example:
        address:
          id: 2VcUIIsgARwVbEGlIYbhg6fGG57
          address: 73uyt9HkEqx9bThYXWaUBP67sWsiJEsyJ5rSCieDx5me
        balance:
          value: '100.00'
          currency: SBC
        transfer_type: solana
        value_type: SBC
    Balance:
      title: Balance
      type: object
      properties:
        balance:
          type: string
          example: '100'
        value_type:
          type: string
          example: SBC
    AddressCreateRequest:
      oneOf:
        - $ref: '#/components/schemas/ExternalAddressOnchainCreate'
        - $ref: '#/components/schemas/ExternalAddressOffchainCreate'
    GetFinancialInstitutionsResponse:
      type: object
      properties:
        financial_institutions:
          type: array
          items:
            $ref: '#/components/schemas/FinancialInstitution'
    FinancialInstitutionCreateRequest:
      title: FinancialInstitutionCreateRequest
      type: object
      properties:
        name:
          type: string
          example: Business Checking Account
        transfer_type:
          type: array
          items:
            type: string
          example:
            - ach
            - wire
        bank_details:
          $ref: '#/components/schemas/BankDetails'
      required:
        - name
        - transfer_type
        - bank_details
    FinancialInstitution:
      title: FinancialInstitution
      type: object
      properties:
        id:
          $ref: '#/components/schemas/Ksuid'
        name:
          type: string
          example: Business Checking Account
        status:
          type: string
          enum:
            - processing
            - active
            - archived
          example: active
        bank_details:
          $ref: '#/components/schemas/BankDetails'
    BankDetails:
      title: Bank
      type: object
      properties:
        owner:
          type: string
          example: Jane Doe
        account_number:
          type: string
          example: '1234567890'
        routing_number:
          type: string
          example: 063108680
        name:
          type: string
          description: The name of the bank
          example: Example Bank
        address:
          $ref: '#/components/schemas/AccountAddress'
        account_type:
          type: string
          example: checking
      required:
        - owner
        - account_number
        - routing_number
        - name
        - account_type
    AutomationCreateRequest:
      title: AutomationCreateRequest
      type: object
      properties:
        name:
          type: string
          example: XYZ Onramp
        source:
          $ref: '#/components/schemas/AutomationSource'
        destination:
          $ref: '#/components/schemas/AutomationDestination'
        brand:
          $ref: '#/components/schemas/AutomationBrand'
      required:
        - name
        - source
        - destination
    AutomationBrand:
      title: AutomationBrand
      type: object
      description: >-
        Optional. Controls the beneficiary name on funding instructions. Pass the
        account_id of your own account or a managed account whose business name
        should appear as the beneficiary. If omitted, Brale is the default beneficiary.
      properties:
        account_id:
          $ref: '#/components/schemas/Ksuid'
          description: >-
            The account whose business name and address will appear as the
            beneficiary on wire and ACH funding instructions.
      required:
        - account_id
    AutomationSource:
      title: AutomationSource
      type: object
      description: >-
        The funding source for the automation. Defines the fiat rail and value type
        that the automation accepts. When the automation becomes active,
        `funding_instructions` is populated with the virtual account details to share
        with the payer.
      properties:
        value_type:
          type: string
          description: The fiat value type accepted by the automation (e.g. `USD`).
          example: USD
        transfer_type:
          type: string
          description: The transfer rail used to fund the automation (e.g. `wire`).
          example: wire
        funding_instructions:
          $ref: '#/components/schemas/FundingInstructions'
      required:
        - value_type
        - transfer_type
    AutomationDestination:
      title: AutomationDestination
      type: object
      description: >-
        The destination wallet that receives minted stablecoins when the automation
        is funded.
      properties:
        address_id:
          $ref: '#/components/schemas/Ksuid'
        value_type:
          type: string
          description: The stablecoin value type minted to the destination (e.g. `SBC`).
          example: SBC
        transfer_type:
          type: string
          description: The destination chain or rail (e.g. `solana`).
          example: solana
      required:
        - address_id
        - value_type
        - transfer_type
    Automation:
      title: Automation
      type: object
      properties:
        id:
          $ref: '#/components/schemas/Ksuid'
        name:
          type: string
          example: XYZ Onramp
        status:
          type: string
          description: The current lifecycle state of the automation.
          enum:
            - pending
            - active
            - disabled
            - archived
          example: active
        source:
          $ref: '#/components/schemas/AutomationSource'
        destination:
          $ref: '#/components/schemas/AutomationDestination'
        created_at:
          type: string
          format: date-time
          example: '2024-01-15T12:34:56Z'
        updated_at:
          type: string
          format: date-time
          example: '2024-01-15T12:34:56Z'
        brand:
          $ref: '#/components/schemas/AutomationBrand'
    FundingInstructions:
      title: FundingInstructions
      type: object
      description: >-
        Bank details for the virtual account that funds the automation. Populated by
        Brale once the automation becomes active. Share these coordinates with the
        payer to fund the automation.
      properties:
        beneficiary_name:
          type: string
          example: Jane Business
        bank_name:
          type: string
          example: Example Bank
        bank_address:
          type: string
          example: 456 Commerce St., Des Moines, IA 50309
        beneficiary_address:
          type: string
          example: 612 Commerce St., Des Moines, IA 50309
        account_number:
          type: string
          example: '123456789'
        routing_number:
          type: string
          example: '063108680'
    GetAutomationsResponse:
      title: AutomationListResponse
      type: object
      properties:
        automations:
          type: array
          items:
            $ref: '#/components/schemas/Automation'
    TransferType:
      type: string
      description: Rail or chain identifier
      enum:
        - wire
        - ach_credit
        - same_day_ach_credit
        - ach_debit
        - same_day_ach_debit
        - rtp_credit
        - solana
        - ethereum
        - polygon
        - base
        - arbitrum
        - canton
        - avalanche
        - base_sepolia
        - sepolia
        - solana_devnet
        - tempo_testnet
        - stellar
        - xrp_ledger
    ExternalAddressOnchainCreate:
      type: object
      required:
        - name
        - transfer_types
        - address
      properties:
        name:
          type: string
        transfer_types:
          type: array
          items:
            $ref: '#/components/schemas/TransferType'
          description: Must include a supported chain (e.g., ethereum, base, solana,
            xrp_ledger)
        address:
          type: string
          description: On-chain wallet address
    ExternalAddressOffchainCreate:
      type: object
      required:
        - transfer_types
      properties:
        name:
          type: string
        owner:
          type: string
          description: Account owner/beneficiary name
        transfer_types:
          type: array
          items:
            $ref: '#/components/schemas/TransferType'
          description: One or more rails (wire, ach_credit, same_day_ach_credit, ach_debit,
            same_day_ach_debit, rtp_credit)
        plaid_token:
          type: string
          description: Required when using ach_debit or same_day_ach_debit
        account_number:
          type: string
        routing_number:
          type: string
        account_type:
          type: string
          enum:
            - checking
            - savings
        bank_address:
          $ref: '#/components/schemas/AccountAddress'
        beneficiary_address:
          $ref: '#/components/schemas/AccountAddress'
        email:
          type: string
          format: email
    TransferBranding:
      type: object
      properties:
        account_id:
          type: string
          description: Account whose name should appear on bank statement line items
    DateTime:
      type: string
      format: date-time
      title: DateTime
      description: ISO-8601 timestamp that includes date and time
      example: '2020-01-01T12:00:00Z'
    USStreetAddress:
      type: object
      additionalProperties: false
      title: USStreetAddress
      required:
        - street_line_1
        - city
        - state
        - zip
      properties:
        street_line_1:
          type: string
          example: 100 Example St.
        street_line_2:
          type: string
          example: Suite 500
        city:
          type: string
          example: Springfield
        state:
          type: string
          example: CA
        zip:
          type: string
          example: '90001'
    ControllingPartyAddress:
      type: object
      additionalProperties: false
      title: ControllingPartyAddress
      description: >
        Postal address for a business controller or beneficial owner. Unlike the
        business `USStreetAddress`, `state` is free-form and the postal code
        accepts any format, so controlling parties outside the US are supported.


        `state` is absent from `required` because whether it is required depends
        on `country`, which this schema cannot express: a US party must supply a
        recognized US state, and elsewhere it is optional because many countries
        have no state or province.
      required:
        - street_line_1
        - city
        - zip
      properties:
        street_line_1:
          type: string
          example: Calle 93 #11-27
        street_line_2:
          type: string
          example: Oficina 402
        city:
          type: string
          example: Bogota
        state:
          type: string
          description: >
            State, province, or region. Required when `country` is the US,
            optional otherwise. A blank value is treated as absent.
          example: Cundinamarca
        zip:
          type: string
          description: Postal code. Any format is accepted, so non-US postal codes are
            supported.
          example: '110221'
        country:
          type: string
          description: >
            ISO 3166-1 country code or country name. Defaults to `US` when
            omitted, so requests written before non-US parties were supported are
            unchanged.
          example: CO
    ControllingParty:
      type: object
      additionalProperties: false
      title: ControllingParty
      description: >
        A business controller or beneficial owner. Identity is supplied one of two
        ways, and exactly one of them is required: `ssn` for a US party, which is
        what every request written before non-US parties were supported already
        sends, or `identity` (number and type) otherwise.


        `ssn` is only accepted when the party's country is the US, since an SSN
        has no meaning elsewhere. A US party may also use `identity` when the
        document is something other than an SSN.
      required:
        - first_name
        - last_name
        - dob
        - address
        - email
        - phone_number
      properties:
        first_name:
          type: string
          example: John
        last_name:
          type: string
          example: Doe
        dob:
          type: string
          example: YYYY-MM-DD
        ssn:
          type: string
          example: 123-45-6789
          description: >
            US Social Security Number. Required for a US party unless `identity`
            is supplied, and not accepted for a party outside the US.
        identity:
          allOf:
            - $ref: '#/components/schemas/IndividualIdentity'
          nullable: true
          description: >
            Typed identity document, a number and the kind of document it came
            from. Required for a party outside the US, where the number could be a
            passport, a national ID or a tax number and the type is what keeps it
            from being submitted as an SSN. Mutually exclusive with `ssn`.
        address:
          $ref: '#/components/schemas/ControllingPartyAddress'
        email:
          type: string
          example: a@b.com
        phone_number:
          type: string
          example: 515-555-1212
          description: >
            Parsed against the party's own country, so a number written in
            national form outside the US is accepted and stored in E.164.
        ownership_percentage:
          type: number
          nullable: true
          example: 40
    EndUserTosAttestation:
      type: object
      additionalProperties: false
      title: EndUserTosAttestation
      required:
        - accepted_at
      properties:
        accepted_at:
          $ref: '#/components/schemas/DateTime'
        ip:
          type: string
          example: 203.0.113.42
        user_agent:
          type: string
          example: Mozilla/5.0 (Macintosh; Intel Mac OS X 10.15; rv:138.0) Gecko/20100101
            Firefox/138.0
        version:
          type: string
          example: '2025-04-01'
    CreateManagedAccountRequest:
      type: object
      additionalProperties: false
      title: CreateManagedAccountRequest
      description: >
        Business (KYB) account creation payload. This is the default path when
        `entity_type` is omitted, or when it is explicitly set to `business`
        with `account_type: custodial` and `verification_mode: standard`.
      required:
        - business_name
        - ein
        - address
        - phone_number
        - email
        - website
        - business_controller
        - tos_attestation
      properties:
        entity_type:
          type: string
          enum:
            - business
          description: >
            Optional discriminator. When omitted, defaults to `business`.
          example: business
        account_type:
          type: string
          enum:
            - custodial
          description: >
            Optional. When omitted, defaults to `custodial` for business
            accounts.
          example: custodial
        verification_mode:
          type: string
          enum:
            - standard
          description: >
            Optional. When omitted, defaults to `standard`.
          example: standard
        business_name:
          type: string
          example: My Customer
        ein:
          type: string
          example: '123456789'
        address:
          $ref: '#/components/schemas/USStreetAddress'
        beneficial_owners:
          type: array
          nullable: true
          items:
            $ref: '#/components/schemas/ControllingParty'
        ultimate_beneficial_owners:
          deprecated: true
          description: Deprecated alias of beneficial_owners.
          type: array
          items:
            $ref: '#/components/schemas/ControllingParty'
        business_controller:
          $ref: '#/components/schemas/ControllingParty'
        email:
          type: string
          example: a@b.com
        phone_number:
          type: string
          example: 515-555-1212
        tos_attestation:
          $ref: '#/components/schemas/EndUserTosAttestation'
        website:
          type: string
          example: https://example.com
        name:
          type: string
          example: My Account
        doc_submission_ids:
          type: array
          description: Optional pre-staged verification document submission IDs to link on
            creation.
          items:
            $ref: '#/components/schemas/Ksuid'
    IndividualAddress:
      type: object
      additionalProperties: false
      title: IndividualAddress
      description: >
        Residential address for an individual account. When
        `individual.country` is `US` or `USA`, `state` is required and must be a
        valid US state or territory abbreviation. For non-US individuals it is
        optional and free-form, since many countries have no state or province.


        `state` is absent from `required` because whether it is required depends
        on `individual.country`, which this schema cannot express.
      required:
        - street_line_1
        - city
        - zip
      properties:
        street_line_1:
          type: string
          example: 123 Main St
        street_line_2:
          type: string
          example: Apt 4
        city:
          type: string
          example: New York
        state:
          type: string
          description: >
            State, province, or region. Required when `individual.country` is
            `US` or `USA`, optional otherwise. A blank value is treated as
            absent.
          example: NY
        zip:
          type: string
          description: Postal code. Any format is accepted, so non-US postal codes are
            supported.
          example: '10001'
        country:
          type: string
          description: >
            Optional. The individual's jurisdiction is taken from the top-level
            `individual.country`, not from this field.
          example: US
    IndividualIdentity:
      type: object
      additionalProperties: false
      title: IndividualIdentity
      description: >
        A government-issued identifier for a natural person. One identity is
        submitted per person: `SSN9` for a US taxpayer, or a document type such as
        `PASSPORT` or `NATIONAL_ID` for someone outside the US. Used by an
        individual account and, as `identity`, by a controlling party.
      required:
        - number
        - type
      properties:
        number:
          type: string
          example: 222-22-2222
          description: The identifier value (for `SSN9`, the 9-digit Social Security number).
        type:
          type: string
          enum:
            - SSN9
            - SSN4
            - DRIVER_LICENSE
            - PASSPORT
            - NATIONAL_ID
            - VOTER_ID
            - BVN
            - NIN
            - NIN_SLIP
            - SSNIT
            - TAX_ID
            - KENYA_KRA_PIN
            - ALIEN_CARD
            - RESIDENT_ID
            - COLOMBIA_PPT
            - GHANA_CARD_NUMBER
          example: SSN9
          description: The kind of identifier submitted.
    Individual:
      type: object
      additionalProperties: false
      title: Individual
      required:
        - first_name
        - last_name
        - date_of_birth
        - email
        - phone_number
        - country
        - address
        - identity
      properties:
        first_name:
          type: string
          example: Jane
        last_name:
          type: string
          example: Doe
        date_of_birth:
          type: string
          description: ISO date, `YYYY-MM-DD`.
          example: '1990-01-01'
        email:
          type: string
          example: jane@example.com
        phone_number:
          type: string
          example: '2125550182'
        country:
          type: string
          description: >
            Top-level jurisdiction used for verification. Separate from
            `address`. When `US` or `USA`, `address.state` must be a valid US
            state or territory.
          example: US
        address:
          $ref: '#/components/schemas/IndividualAddress'
        identity:
          $ref: '#/components/schemas/IndividualIdentity'
    CreateIndividualAccountRequest:
      type: object
      additionalProperties: false
      title: CreateIndividualAccountRequest
      description: >
        Individual (KYC) transactional account creation payload. Business-only
        fields (`business_name`, `ein`, `website`, `business_controller`,
        `beneficial_owners`) must not be sent on this path.
      required:
        - entity_type
        - account_type
        - individual
        - tos_attestation
      properties:
        entity_type:
          type: string
          enum:
            - individual
          example: individual
        account_type:
          type: string
          enum:
            - transactional
          example: transactional
        verification_mode:
          type: string
          enum:
            - standard
            - reliance
          description: >
            `standard` (default) or `reliance`. Use `reliance` when your
            integration operates under an agreement with Brale that specifies
            a reliance model.
          example: standard
        individual:
          $ref: '#/components/schemas/Individual'
        tos_attestation:
          $ref: '#/components/schemas/EndUserTosAttestation'
        name:
          type: string
          description: Optional display name. When omitted, the account's `name` is
            derived from the individual's first and last name.
          example: Jane Doe
        doc_submission_ids:
          type: array
          description: Optional pre-staged verification document submission IDs to link on
            creation.
          items:
            $ref: '#/components/schemas/Ksuid'
    CreateAccountRequest:
      title: CreateAccountRequest
      description: >
        Request body for `POST /accounts`. The three optional dimension fields
        `entity_type`, `account_type`, and `verification_mode` select which
        shape is validated. Supported combinations:

        - `business` + `custodial` + `standard` (KYB, default when all three
          are omitted)

        - `individual` + `transactional` + `standard` (KYC)

        - `individual` + `transactional` + `reliance` (KYC under a reliance
          model)

        Any other combination returns `422 unsupported_account_combination`.


        No `discriminator` is declared, because `entity_type` is optional: a
        request that omits it is a business account, and a discriminator would
        require the property to be present. The two branches resolve
        unambiguously without one, since both set `additionalProperties: false`
        and their required fields are disjoint.
      oneOf:
        - $ref: '#/components/schemas/CreateManagedAccountRequest'
        - $ref: '#/components/schemas/CreateIndividualAccountRequest'
    ErrorResponse:
      type: object
      title: ErrorResponse
      description: Standard Brale error envelope.
      required:
        - type
      properties:
        type:
          type: string
          description: Machine-readable error type identifier.
          example: unsupported_account_combination
        message:
          type: string
          description: Human-readable explanation of the error.
          example: The combination of entity_type, account_type, and verification_mode
            is not supported.
    BrandData:
      type: object
      nullable: true
      additionalProperties: false
      required:
        - account_id
      properties:
        account_id:
          type: string
    PaymentData:
      type: object
      additionalProperties: false
      title: PaymentData
      properties:
        address_id:
          type: string
          description: Preferred Address identifier
        financial_institution_id:
          type: string
          deprecated: true
          description: "Legacy\u2014use address_id"
        transfer_type:
          type: string
        value_type:
          type: string
        wire_memo:
          type: string
          description: >-
            Optional memo or payment reference text sent with outbound wire
            transfers. Only applies when transfer_type is wire.
      required:
        - transfer_type
        - value_type
    CreateTransfer:
      type: object
      additionalProperties: false
      required:
        - amount
        - source
        - destination
      properties:
        amount:
          $ref: '#/components/schemas/Amount'
        source:
          $ref: '#/components/schemas/PaymentData'
        destination:
          $ref: '#/components/schemas/PaymentData'
        brand:
          $ref: '#/components/schemas/BrandData'
        note:
          type: string
      title: CreateTransfer
    CreateLinkTokenRequest:
      type: object
      title: CreateLinkTokenRequest
      properties:
        legal_name:
          type: string
          description: User's legal name
          example: John Doe
        email_address:
          type: string
          description: User's email address
          example: user@example.com
        phone_number:
          type: string
          description: User's phone number
          example: '+1234567890'
        date_of_birth:
          type: string
          description: User's date of birth
          example: '1990-01-01'
    LinkTokenResponse:
      type: object
      title: LinkTokenResponse
      required:
        - link_token
        - expiration
        - callback_url
      properties:
        link_token:
          type: string
          description: Plaid Link token
          example: link-sandbox-123456789
        expiration:
          type: string
          description: ISO 8601 expiration
          example: '2024-01-01T12:00:00Z'
        callback_url:
          type: string
          description: URL to POST the public token to after Plaid Link
          example: https://customer.com/webhooks/plaid-updates
    RegisterAccountWithTransferTypesRequest:
      type: object
      title: RegisterAccountWithTransferTypesRequest
      required:
        - public_token
        - customer_webhook_url
        - transfer_types
      properties:
        public_token:
          type: string
          description: Plaid public token
          example: public-sandbox-123456789
        customer_webhook_url:
          type: string
          format: uri
          description: Webhook for Plaid item updates
          example: https://customer.com/webhooks/plaid-updates
        transfer_types:
          type: array
          minItems: 1
          items:
            type: string
            example: ach_credit
          description: Rails to enable (e.g., ach_credit, wire, rtp_credit)
    RegisterAccountAddressResponse:
      type: object
      title: RegisterAccountAddressResponse
      required:
        - address_id
      properties:
        address_id:
          type: string
          description: ID of the created address
          example: addr_123456789
    CreateExternalBlockchainAddressRequest:
      type: object
      additionalProperties: false
      title: CreateExternalBlockchainAddressRequest
      required:
        - name
        - address
        - transfer_types
      properties:
        name:
          type: string
          example: Company External EVM Address
          nullable: true
        address:
          type: string
          example: '0xb518d4d6221d9a41d23d71cbce8e106e7aab8f9b'
        transfer_types:
          type: array
          items:
            type: string
            example: solana
    CreateExternalFinancialInstitutionRequest:
      type: object
      additionalProperties: false
      title: CreateExternalFinancialInstitutionRequest
      description: >
        Address fields are conditional. `bank_address` and `beneficiary_address`
        are required when `transfer_types` includes `wire`. They are optional
        for `ach_credit`, `same_day_ach_credit`, and `rtp_credit`. For
        ACH/RTP-only addresses, do not provide placeholder or generic bank
        addresses—omit these fields unless you have accurate values.
      required:
        - owner
        - account_number
        - routing_number
        - account_type
        - transfer_types
      properties:
        owner:
          type: string
          example: Jane Doe
        name:
          type: string
          example: First Last Bank
        account_number:
          type: string
          example: '123456789'
        routing_number:
          type: string
          example: '123456789'
        account_type:
          type: string
          example: checking
          enum:
            - checking
            - savings
        bank_address:
          description: >
            Bank physical address. Required when `transfer_types` includes
            `wire`. Optional for `ach_credit`, `same_day_ach_credit`, and
            `rtp_credit`.
          allOf:
            - $ref: '#/components/schemas/USStreetAddress'
        beneficiary_address:
          description: >
            Beneficiary physical address. Required when `transfer_types`
            includes `wire`. Optional for `ach_credit`, `same_day_ach_credit`,
            and `rtp_credit`.
          allOf:
            - $ref: '#/components/schemas/USStreetAddress'
        transfer_types:
          type: array
          minItems: 1
          description: >
            Rails to enable for this bank endpoint. If this array includes
            `wire`, the request must include `bank_address` and
            `beneficiary_address`. For ACH/RTP-only addresses, those address
            fields are optional.
          items:
            type: string
            example: ach_credit
          example:
            - ach_credit
            - wire
            - rtp_credit
    CreateExternalAddressRequest:
      type: object
      oneOf:
        - $ref: '#/components/schemas/CreateExternalBlockchainAddressRequest'
        - $ref: '#/components/schemas/CreateExternalFinancialInstitutionRequest'
      title: CreateExternalAddressRequest
    CreateInternalAddressRequest:
      type: object
      title: CreateInternalAddressRequest
      required:
        - transfer_types
        - name
      properties:
        transfer_types:
          type: array
          minItems: 1
          items:
            type: string
          description: 'One or more transfer types that must all resolve to the same
            chain environment (e.g. `["ethereum","polygon"]` for EVM, `["stellar"]`
            for Stellar).'
        name:
          type: string
          nullable: true
          description: A human-readable name for the new internal address.
paths:
  /accounts:
    get:
      tags:
        - Accounts
      operationId: listAccounts
      summary: Retrieve all accounts
      description: Returns an array of accounts.
      responses:
        '200':
          description: An array of accounts
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Account'
    post:
      tags:
        - Accounts
      operationId: createAccount
      summary: Create a customer account
      description: 'Creates a new customer (account) with the required KYC/KYB details.

        '
      parameters:
        - in: header
          name: Idempotency-Key
          required: true
          schema:
            type: string
          example: idemp-123e4567-e89b-12d3-a456-426614174000
          description: 'A unique string used to prevent duplicate operations. Each POST
            request must use a new idempotency key. Use a UUIDv4 string. Example: `idemp-123e4567-e89b-12d3-a456-426614174000`

            '
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateAccountRequest'
            examples:
              create_business_account:
                summary: Business account with controller + TOS attestation
                value:
                  business_name: ABC Company Inc
                  ein: 11-1111111
                  address:
                    street_line_1: 100 Example St
                    city: New York
                    state: NY
                    zip: '10001'
                    country: US
                  phone_number: '2125550182'
                  email: ops@abc.example
                  website: https://abc.example
                  beneficial_owners:
                    - first_name: Jane
                      last_name: Doe
                      dob: '1980-05-12'
                      ssn: 222-22-2222
                      email: jane@example.com
                      phone_number: 212-555-0182
                      address:
                        street_line_1: 100 Example St
                        city: New York
                        state: NY
                        zip: '10001'
                        country: US
                  business_controller:
                    first_name: Alicia
                    last_name: Ng
                    dob: '1986-07-14'
                    ssn: 123-45-6789
                    email: alicia.ng@example.com
                    phone_number: '+12125550182'
                    address:
                      street_line_1: 200 Market St
                      city: New York
                      state: NY
                      zip: '10002'
                      country: US
                  tos_attestation:
                    accepted_at: '2025-05-13T20:45:15Z'
                    version: '2025-04-01'
                    ip: 203.0.113.42
                    user_agent: Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36
                      ...
                  name: My Account
              create_individual_account:
                summary: Individual (KYC) transactional account
                value:
                  entity_type: individual
                  account_type: transactional
                  verification_mode: standard
                  individual:
                    first_name: Jane
                    last_name: Doe
                    date_of_birth: '1990-01-01'
                    email: jane@example.com
                    phone_number: '2125550182'
                    country: US
                    address:
                      street_line_1: 123 Main St
                      street_line_2: Apt 4
                      city: New York
                      state: NY
                      zip: '10001'
                    identity:
                      number: 222-22-2222
                      type: SSN9
                  tos_attestation:
                    accepted_at: '2026-05-13T20:45:15Z'
                    version: '2025-04-01'
                    ip: 203.0.113.42
                    user_agent: Mozilla/5.0 ...
              create_individual_account_non_us:
                summary: Individual (KYC) transactional account, non-US
                value:
                  entity_type: individual
                  account_type: transactional
                  individual:
                    first_name: Amara
                    last_name: Okafor
                    date_of_birth: '1988-07-22'
                    email: amara@example.com
                    phone_number: '+2348012345678'
                    country: NG
                    address:
                      street_line_1: 12 Awolowo Road
                      city: Lagos
                      state: Lagos
                      zip: '101233'
                    identity:
                      number: '22222222222'
                      type: BVN
                  tos_attestation:
                    accepted_at: '2026-05-13T20:45:15Z'
                    version: '2025-04-01'
      responses:
        '201':
          description: Account successfully created
          content:
            '*/*':
              schema:
                type: object
                properties:
                  id:
                    $ref: '#/components/schemas/Ksuid'
        '400':
          description: >
            Bad request. Possible `type` values on the individual path:

            - `individual_details_required` — `entity_type: individual` was
              sent with no `individual` object.

            - `tos_attestation_required` — the individual path was used with
              no `tos_attestation`.

            - `unexpected_business_fields` — a business-only field
              (`business_name`, `ein`, `website`, `business_controller`,
              `beneficial_owners`) was sent on the individual path.

            - `invalid_attestation_timestamp` — `tos_attestation.accepted_at`
              is not an ISO-8601 timestamp.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: >
            Unprocessable entity. Possible `type` values on account creation:

            - `unsupported_account_combination` — the combination of
              `entity_type`, `account_type`, and `verification_mode` is
              outside the three supported rows. Permanent; safe to cache
              against an idempotency key.

            - `invalid_us_state` — `individual.country` is `US` or `USA` and
              `individual.address.state` is not a recognized US state or
              territory.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /accounts/{account_id}:
    get:
      tags:
        - Accounts
      operationId: getAccount
      summary: Retrieve a customer account
      description: Returns the details of a specific customer account, including KYB
        status.
      parameters:
        - name: account_id
          in: path
          required: true
          description: The ID of the account
          schema:
            $ref: '#/components/schemas/Ksuid'
      responses:
        '200':
          description: Details of the requested account
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Account'
  /accounts/{account_id}/transfers:
    get:
      tags:
        - Transfers
        - Orders
      operationId: listTransfers
      summary: Get all transfers for a given account
      description: Returns a list of transfers associated with the specified account.
      parameters:
        - name: account_id
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/Ksuid'
          description: The ID of the account
        - name: automation_id
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/Ksuid'
          description: >-
            Filter transfers to only those created by the specified Automation.
            Must be a valid KSUID. Exact match.
          example: 2MhCCIHuK4TGVgT9a4loQzJx1rj
        - name: value_type
          in: query
          required: false
          schema:
            type: string
          description: >-
            Filter transfers by currency or token identifier. Matches transfers
            where the source **or** destination `value_type` equals this value.
            Case-sensitive. Use canonical API ids from the Coverage page.
          example: USDC
        - name: transfer_type
          in: query
          required: false
          schema:
            type: string
          description: >-
            Filter transfers by payment rail or chain identifier. Matches transfers
            where the source **or** destination `transfer_type` equals this value.
            Case-sensitive. Use canonical API ids from the Coverage page.
          example: polygon
        - name: transaction_id
          in: query
          required: false
          schema:
            type: string
          description: >-
            Filter transfers by on-chain transaction hash or off-chain payment
            reference. Exact match against the `transaction_id` field on either
            the source or destination leg.
          example: '0xdd5646ea…'
        - name: page[size]
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 100
          example: 50
          description: The number of transfers to return per page (1–100, default 25).
        - name: page[next]
          in: query
          required: false
          schema:
            type: string
          example: g3QAAAABdw...
          description: Cursor for the next page (value returned in `pagination.next`)
        - name: page[prev]
          in: query
          required: false
          schema:
            type: string
          example: g3QAAAABdw...
          description: Cursor for the previous page (value returned in `pagination.prev`)
      responses:
        '200':
          description: A list of transfers with pagination cursors
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/TransfersList'
    post:
      tags:
        - Transfers
        - Orders
      operationId: createTransfer
      summary: Create a new transfer
      description: Creates a new transfer using the specified source and destination
        details.
      parameters:
        - name: account_id
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/Ksuid'
          description: The ID of the account
        - in: header
          name: Idempotency-Key
          required: true
          schema:
            type: string
          example: idemp-123e4567-e89b-12d3-a456-426614174000
          description: 'A unique string used to prevent duplicate operations. Each POST
            request must use a new idempotency key. Use a UUIDv4 string. Example: `idemp-123e4567-e89b-12d3-a456-426614174000`

            '
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateTransfer'
            examples:
              ach_debit_to_solana:
                summary: "Onramp via ACH debit \u2192 Mint on Solana"
                value:
                  amount:
                    value: '2500'
                    currency: USD
                  source:
                    address_id: addr_ach_debit
                    value_type: USD
                    transfer_type: ach_debit
                  destination:
                    address_id: addr_solana_internal
                    value_type: SBC
                    transfer_type: solana
              wire_offramp_with_brand:
                summary: "Burn on Polygon \u2192 Wire out (brand override)"
                value:
                  amount:
                    value: '10000'
                    currency: USD
                  source:
                    address_id: addr_polygon_internal
                    value_type: SBC
                    transfer_type: polygon
                  destination:
                    address_id: addr_wire_external
                    value_type: USD
                    transfer_type: wire
                    wire_memo: Invoice 1048
                  brand:
                    account_id: acct_company_beta
              rtp_payout:
                summary: Stablecoin payout via RTP
                value:
                  amount:
                    value: '150'
                    currency: USD
                  source:
                    address_id: addr_treasury_sbc
                    value_type: SBC
                    transfer_type: ethereum
                  destination:
                    address_id: addr_rtp_external
                    value_type: USD
                    transfer_type: rtp
                  brand:
                    account_id: acct_company_beta
      responses:
        '201':
          description: Transfer successfully created
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Transfer'
  /accounts/{account_id}/transfers/{id}:
    get:
      tags:
        - Transfers
      operationId: getTransfer
      summary: Retrieve a single transfer
      description: Returns details for a specific transfer.
      parameters:
        - name: account_id
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/Ksuid'
          description: The ID of the account
        - name: id
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/Ksuid'
          description: The ID of the transfer (KSUID)
      responses:
        '200':
          description: A single transfer object
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Transfer'
  /accounts/{account_id}/addresses:
    get:
      tags:
        - Addresses
      operationId: listAddresses
      summary: Fetch all addresses
      description: 'Retrieves all addresses (internal and external) associated with
        the given account.

        '
      parameters:
        - name: account_id
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/Ksuid'
          description: The ID of the account
      responses:
        '200':
          description: A list of addresses
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/GetAddressesResponse'
  /accounts/{account_id}/addresses/external:
    post:
      tags:
        - Addresses
      operationId: createAddress
      summary: Create a new external address
      description: 'Creates a non-custodial address (EOA) for the specified account.

        '
      parameters:
        - name: account_id
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/Ksuid'
          description: The ID of the account
        - in: header
          name: Idempotency-Key
          required: true
          schema:
            type: string
          example: idemp-123e4567-e89b-12d3-a456-426614174000
          description: 'A unique string used to prevent duplicate operations. Each POST
            request must use a new idempotency key. Use a UUIDv4 string. Example: `idemp-123e4567-e89b-12d3-a456-426614174000`

            '
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateExternalAddressRequest'
            examples:
              onchain_base:
                summary: On-chain (Base)
                value:
                  name: Base External Wallet
                  transfer_types:
                    - base
                  address: '0xE57e438aE0b1557bFC1ad70BD7751635E473D888'
              offchain_ach_credit:
                summary: Off-chain (ACH Credit / Same Day ACH Credit)
                value:
                  owner: Jane Doe
                  transfer_types:
                    - ach_credit
                    - same_day_ach_credit
                  account_number: '1234567890'
                  routing_number: '063108680'
                  account_type: checking
                  name: Example Bank
              offchain_rtp_credit:
                summary: Off-chain (ACH + RTP Credit)
                value:
                  owner: Jane Doe
                  transfer_types:
                    - ach_credit
                    - same_day_ach_credit
                    - rtp_credit
                  account_number: '1234567890'
                  routing_number: '063108680'
                  account_type: checking
                  name: Example Bank
              offchain_wire:
                summary: Off-chain (Wire — requires bank_address and beneficiary_address)
                value:
                  owner: Jane Doe
                  transfer_types:
                    - wire
                  account_number: '1234567890'
                  routing_number: '063108680'
                  account_type: checking
                  name: Example Bank
                  bank_address:
                    street_line_1: 100 Example St
                    street_line_2: Suite 500
                    city: Springfield
                    state: CA
                    zip: '90001'
                  beneficiary_address:
                    street_line_1: 100 Example St
                    street_line_2: Suite 500
                    city: Springfield
                    state: CA
                    zip: '90001'
              offchain_ach_debit:
                summary: Off-chain (ACH Debit via Plaid)
                value:
                  name: Operating Account (ACH Debit)
                  transfer_types:
                    - ach_debit
                    - same_day_ach_debit
                  plaid_token: PUBLIC_TOKEN_EXCHANGED_WITH_BRALE
      responses:
        '201':
          description: External address successfully created
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ExternalAddressResponse'
              examples:
                offchain_ach_credit:
                  summary: Off-chain bank address (ACH Credit)
                  value:
                    id: 3EaxQ8mDX3RLdK9wvn1BAptMs6H
                    name: checking 7890
                    owner: Jane Doe
                    status: active
                    ownership: customer-owned
                    bank_address: null
                    beneficiary_address:
                      street_line_1: 100 Example St
                      street_line_2: Suite 500
                      city: Springfield
                      state: CA
                      zip: '90001'
                      country: US
                    created: '2026-06-02T20:01:02.226850Z'
                    transfer_types:
                      - ach_credit
                    account_number: '****7890'
                    account_type: checking
                    needs_update: false
                    last_updated: '2026-06-02T20:01:03.321461Z'
                    routingNumber: '063108680'
  /accounts/{account_id}/addresses/internal:
    post:
      tags:
        - Addresses
      operationId: createInternalAddress
      summary: Create a new internal address
      description: 'Provisions an additional custodial (internal) address for the
        specified account.

        '
      parameters:
        - name: account_id
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/Ksuid'
          description: The ID of the account
        - in: header
          name: Idempotency-Key
          required: true
          schema:
            type: string
          example: idemp-123e4567-e89b-12d3-a456-426614174000
          description: 'A unique string used to prevent duplicate operations. Each POST
            request must use a new idempotency key. Use a UUIDv4 string. Example: `idemp-123e4567-e89b-12d3-a456-426614174000`

            '
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateInternalAddressRequest'
            examples:
              evm:
                summary: EVM (Ethereum + Polygon)
                value:
                  name: My EVM Wallet
                  transfer_types:
                    - ethereum
                    - polygon
              stellar:
                summary: Stellar
                value:
                  name: Stellar Custodial Wallet
                  transfer_types:
                    - stellar
      responses:
        '201':
          description: Internal address successfully created
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Address'
              examples:
                sync_active:
                  summary: Synchronous (deterministic-address chain)
                  value:
                    id: 3EdBHmAtfm7tct7varYqgAz6iYW
                    status: active
                    name: My EVM Wallet
                    address: '0xc109f7016aF02fBF21E9f0d7d50a6A48f5F644Ad'
                    transfer_types:
                      - ethereum
                      - polygon
                async_pending:
                  summary: Asynchronous (non-deterministic chain)
                  value:
                    id: 3EdBHmAtfm7tct7varYqgAz6iYW
                    status: pending
                    name: Hedera Custodial Wallet
                    address: null
                    transfer_types:
                      - hedera
  /accounts/{account_id}/addresses/{address_id}:
    get:
      tags:
        - Addresses
      operationId: getAddress
      summary: Retrieve an address
      description: 'Retrieves a single address by address_id. Use this endpoint to
        fetch the latest status, address value, and enabled transfer_types for an
        internal or external address. For RTP-enabled bank addresses, inspect transfer_types
        to confirm whether rtp_credit has been added after asynchronous eligibility
        checks complete.'
      parameters:
        - name: account_id
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/Ksuid'
          description: The ID of the account
        - name: address_id
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/Ksuid'
          description: The ID of the address
      responses:
        '200':
          description: A single address
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Address'
  /accounts/{account_id}/addresses/{address_id}/balance:
    get:
      tags:
        - Addresses
      operationId: getAddressBalance
      summary: Fetch the balance of an internal (custodial) address for a specific
        token
      description: 'Returns balance data for a given address, chain, and token.   Provide
        `transfer_type` and `value_type` as query parameters.

        '
      parameters:
        - name: account_id
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/Ksuid'
          description: The ID of the account
        - name: address_id
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/Ksuid'
          description: The ID of the address
        - name: transfer_type
          in: query
          required: false
          schema:
            type: string
          description: The blockchain environment (e.g., Solana, Ethereum)
        - name: value_type
          in: query
          required: false
          schema:
            type: string
          description: The stablecoin token or currency code
      responses:
        '200':
          description: The address details and balance info
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/AddressBalanceResponse'
  /accounts/{account_id}/financial-institutions:
    get:
      tags:
        - Financial Institutions
      operationId: ListFinancialInstitutions
      summary: Fetch all financial institutions
      description: 'Returns all financial institutions associated with the given account.



        Deprecated. Use Addresses. Create an off-chain Address (ACH/Wire/RTP) and
        pass its `address_id` to Transfers. Plaid endpoints have moved to `/accounts/{account_id}/plaid/*`.'
      parameters:
        - name: account_id
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/Ksuid'
          description: The ID of the account
      responses:
        '200':
          description: A list of financial institutions
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/GetFinancialInstitutionsResponse'
      deprecated: true
  /accounts/{account_id}/financial-institutions/external:
    post:
      tags:
        - Financial Institutions
      operationId: createFinancialInstitution
      summary: Create a new external financial institution
      description: 'Links an external bank account to the specified account (ACH,
        wire, etc.).



        Deprecated. Use Addresses. Create an off-chain Address (ACH/Wire/RTP) and
        pass its `address_id` to Transfers. Plaid endpoints have moved to `/accounts/{account_id}/plaid/*`.'
      parameters:
        - name: account_id
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/Ksuid'
          description: The ID of the account
        - in: header
          name: Idempotency-Key
          required: true
          schema:
            type: string
          example: idemp-123e4567-e89b-12d3-a456-426614174000
          description: 'A unique string used to prevent duplicate operations. Each POST
            request must use a new idempotency key. Use a UUIDv4 string. Example: `idemp-123e4567-e89b-12d3-a456-426614174000`

            '
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FinancialInstitutionCreateRequest'
      responses:
        '201':
          description: Financial institution successfully created
          content:
            '*/*':
              schema:
                type: object
                properties:
                  id:
                    $ref: '#/components/schemas/Ksuid'
      deprecated: true
  /accounts/{account_id}/financial-institutions/{id}:
    get:
      tags:
        - Financial Institutions
      operationId: getFinancialInstitution
      summary: Fetch a specific financial institution
      description: 'Retrieves details for the specified financial institution (bank
        account).



        Deprecated. Use Addresses. Create an off-chain Address (ACH/Wire/RTP) and
        pass its `address_id` to Transfers. Plaid endpoints have moved to `/accounts/{account_id}/plaid/*`.'
      parameters:
        - name: account_id
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/Ksuid'
          description: The ID of the account
        - name: id
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/Ksuid'
          description: The ID of the financial institution
      responses:
        '200':
          description: A financial institution object
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/FinancialInstitution'
      deprecated: true
  /accounts/{account_id}/automations:
    post:
      tags:
        - Automations
      operationId: createAutomations
      summary: Create an Automation
      description: 'Creates a new automation.

        '
      parameters:
        - name: account_id
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/Ksuid'
          description: The ID of the account
        - in: header
          name: Idempotency-Key
          required: true
          schema:
            type: string
          example: idemp-123e4567-e89b-12d3-a456-426614174000
          description: 'A unique string used to prevent duplicate operations. Each POST
            request must use a new idempotency key. Use a UUIDv4 string. Example: `idemp-123e4567-e89b-12d3-a456-426614174000`

            '
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AutomationCreateRequest'
      responses:
        '201':
          description: Automation successfully created
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Automation'
    get:
      tags:
        - Automations
      operationId: listAutomations
      summary: Fetch all automations for an account
      description: 'Retrieves all automations associated with the specified customer
        account.

        '
      parameters:
        - name: account_id
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/Ksuid'
          description: The ID of the account
      responses:
        '200':
          description: A list of automations
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/GetAutomationsResponse'
  /accounts/{account_id}/automations/{id}:
    get:
      tags:
        - Automations
      operationId: getAutomations
      summary: Retrieve a single automation
      description: Returns details for a specific automation.
      parameters:
        - name: account_id
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/Ksuid'
          description: The ID of the account
        - name: id
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/Ksuid'
          description: The ID of the automation
      responses:
        '200':
          description: A single automation object
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Automation'
  /accounts/{account_id}/plaid/link_token:
    post:
      tags:
        - Plaid
      summary: Create Plaid link token
      parameters:
        - in: path
          name: account_id
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateLinkTokenRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LinkTokenResponse'
  /accounts/{account_id}/plaid/register-account:
    post:
      tags:
        - Plaid
      summary: Register financial institution account via Plaid and return address
        ID
      parameters:
        - in: path
          name: account_id
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RegisterAccountWithTransferTypesRequest'
      responses:
        '201':
          description: Created
          headers:
            Location:
              schema:
                type: string
              description: URL of the created address resource
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RegisterAccountAddressResponse'
      description: Registers a bank using a Plaid public_token and returns the new
        Address ID.
x-tagGroups:
  - name: Core
    tags:
      - Accounts
      - Addresses
      - Transfers
      - Automations
      - Plaid
  - name: Legacy
    tags:
      - Financial Institutions
      - Orders
